<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--- BOX ICONS --->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="all.min.css">

        <!--- CSS --->
        <link rel="stylesheet" href="compare_style.css">

        <title>Compare Page</title>
    </head>
    <body id="body-pd">
        <header class="header" id="header">
            <div class="header__toggle">
                <i class='bx bx-menu' id="header-toggle"></i>
            </div>

            <div class="header__img">
                <img src="Userpic.jpg" alt="">
            </div>
        </header>

        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div>
                    <a href="#" class="nav__logo">
                        <i class='bx bx-layer nav__logo-icon'></i>
                        <span class="nav__logo-name">Dis-com</span>
                    </a>

                    <div class="nav__list">
                      <a href="checklist.html" class="nav__link">
                          <i class='bx bx-list-plus' ></i>
                          <span class="nav__name">Check-list</span>
                      </a>

                        <a href="#" class="nav__link">
                            <i class='bx bx-user nav__icon' ></i>
                            <span class="nav__name">Profile</span>
                        </a>

                        <a href="#" class="nav__link">
                            <i class='bx bx-git-compare'></i>
                            <span class="nav__name">Compare</span>
                        </a>

                        <a href="#" class="nav__link active">
                            <i class='bx bx-book-content' ></i>
                            <span class="nav__name">Book</span>
                        </a>
                    </div>
                </div>

                <a href="#" class="nav__link">
                    <i class='bx bx-log-out nav__icon' ></i>
                    <span class="nav__name">Log Out</span>
                </a>
            </nav>
        </div>

          <h1 class="title-shop"></h1>
          <main class="main bd-grid">
              <article class="card">
                  <div class="card__img">
                      <img src="https://rukminim1.flixcart.com/image/704/704/kfbfr0w0/mobile/7/q/z/realme-narzo-20a-rmx2050-original-imafvswtu6wjavce.jpeg?q=70" alt="">
                  </div>
                  <div class="card__name">
                      <p>Flipkart</p>
                  </div>
                  <div class="card__prices">
                      <div>
                          <span class="card__price card__price--before">$990.00</span>
                          <span class="card__price card__price--now">$749.00</span>
                      </div>
                      <a href="" class="card__icon">Buy now</a>
                  </div>
              </article>

              <article class="card">
                  <div class="card__img">
                      <img src="https://rukminim1.flixcart.com/image/704/704/kfbfr0w0/mobile/7/q/z/realme-narzo-20a-rmx2050-original-imafvswtu6wjavce.jpeg?q=70"alt="">
                  </div>
                  <div class="card__name">
                      <p>Amazon</p>
                  </div>
                  <div class="card__prices">
                      <div>
                          <span class="card__price card__price--before">$990.00</span>
                          <span class="card__price card__price--now">$749.00</span>
                      </div>
                      <a href="" class="card__icon">Buy now</a>
                  </div>
              </article>

              <article class="card">
                  <div class="card__img">
                      <img src="https://rukminim1.flixcart.com/image/704/704/kfbfr0w0/mobile/7/q/z/realme-narzo-20a-rmx2050-original-imafvswtu6wjavce.jpeg?q=70"alt="">
                  </div>
                  <div class="card__name">
                      <p>Croma</p>
                  </div>
                  <div class="card__prices">
                      <div>
                          <span class="card__price card__price--before">$990.00</span>
                          <span class="card__price card__price--now">$749.00</span>
                      </div>
                      <a href="" class="card__icon">Buy now</a>
                  </div>
              </article>

          </main>

          <!-- ICONS -->
          <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>

        <!--- MAIN JS --->
        <script src="compare_js.js"></script>

    </body>
</html>
